name: Docker test
on:
  workflow_call:
    inputs:
      name:
        type: string
        default: cpu
      build-name:
        type: string
        default: build
      reset-cache:
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Free space
        run: |
          ls /
          echo stderr 1>&2
